@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
      background-color: hsl(212, 45%, 89%);
      font-family: "Outfit";
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
.parteprincipal{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    flex-direction: column ;
    
    padding: 10px 5px;
    border-radius: 20px;
    text-align: center;
    height: 490px;
    width: 320px;

}
.parteprincipal img{
height: 288px;
width: 288px;
margin-top: 10px;
border-radius: 6px;
}
.parteprincipal h1{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    height: 52px;
    width: 256px;
    font-weight: 700;
}
.parteprincipal p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    height: 63px;
    width: 256px;
    font-weight: 400;
}

.parteprincipal .texto{
    height: 131px;
    width: 256px;
    margin: 20px;
}








    
    